@model WebApplication3.ViewModel.VM

@{
    ViewBag.Title = "CreateCV";
}

<h2>
    Create CV<br />
    hi @Model.Employee.FirstName<br />
    Welcome to our CV generator!<br />
</h2>
please fill the fields below<br />


<table class="table" id="LookingTable">
    <tr>
        <td>ID</td>
        <td></td>
    </tr>
    <tr>
        <td>First Name</td>
        <td></td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td></td>
    </tr>
    <tr>
        <td>Birthday (dd/mm/yyyy) </td>
        <td></td>
    </tr>
    <tr>
        <td>Home Adrees</td>
        <td></td>
    </tr>
    <tr>
        <td>Phone Number</td>
        <td></td>
    </tr>
    <tr>
        <td>Email</td>
        <td></td>
    </tr>
    <tr>
        <td>Any Special Skills</td>
        <td></td>
    </tr>
    <tr>
        <td>Summary</td>
        <td></td>
    </tr>




</table>


