@model WebApplication3.Models.Employee

@{
    ViewBag.Title = "EmployeeMenu";
}

<!DOCTYPE html>
<html>

<body>

    <div>
        <i>@Model.FirstName  @Model.LastName logged in</i>
        <br />

    </div>

</body>
</html>

