@model WebApplication3.Models.Employee

@{
    ViewBag.Title = "WatchingTheBoard";
}


<div class="jumbotron">
    <h1 class="display-4">Welcome Back @Model.UserName </h1>


</div>


<div class="row text-center">
    <div class="col">
        @Html.ActionLink("Wanted Board ", "WantedBoard", "Employee", new { area = "" }, new { @class = "btn btn-outline-success" })
    </div>
    <div class="col">
        @Html.ActionLink("Job Search", "LookingBoard", "Employee", new { area = "" }, new { @class = "btn btn-outline-success" })
    </div>
</div>

