@{
    ViewBag.Title = "Contact";
}
<br />

<h1>Contact</h1>

<address>
    Sami Shamoon College<br />
    Bazel, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    0521234567
</address>

<address>
    <strong>Manager:</strong>   <a href="mailto:Support@example.com">salidalal@sce.com</a><br />
    <strong>Cheerleader:</strong>   <a href="mailto:Support@example.com">amiraizin@sce.com</a><br />
    <strong>Support:</strong>   <a href="mailto:Support@example.com">michaelsvidler@sce.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">adirsabag@sce.com</a>
</address>