@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <h1 class="display-4">Welcome to This Abillity MVC Website</h1>
    <p class="lead">
        You can find all the information about Abillity here
    </p>
    <div class="text-center fa-5x">
        <i class="far fa-futbol fa-spin"></i>
    </div>
</div>

<div class="row text-center">
    <div class="col">
        @Html.ActionLink("Employee Login", "UserLogin", "Employee", new { area = "" }, new { @class = "btn btn-outline-success" })
    </div>
    <div class="col">
        @Html.ActionLink("Employer Login", "EmployerLogin", "Employer", new { area = "" }, new { @class = "btn btn-outline-success" })
    </div>
    <div class="col">
        @Html.ActionLink("Manager Login", "ManagerLogin", "Manager", new { area = "" }, new { @class = "btn btn-outline-success" })
    </div>
    @if (!User.Identity.IsAuthenticated)
    {
        <div class="col">
            @Html.ActionLink("Employee Registration", "enterSignUp", "Employee", new { area = "" }, new { @class = "btn btn-outline-success" })
        </div>
    }
</div>