@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <h1 class="display-4">ThisAbillity</h1>
    <p class="lead">
        The best wanted/looking-for-job board for people with disabilities.
    </p>

</div>