@model IEnumerable<WebApplication3.Models.MessageManeger>

@{
    ViewBag.Title = "MessageSend";
}

<h2>Send your Message to here!</h2>

<p>
    @Html.ActionLink("Send Message!", "MessageCreate")
</p>
<table class="table">


</table>

