@model WebApplication3.Models.Manager

@{
    ViewBag.Title = "Statistics";
}

<h2>Statistics</h2>
<i>Number of employees</i>
@ViewBag.countEmp
<br />
<i>Number of employers</i>

@ViewBag.countEmpr
<br />
<i>Number of managers</i>

@ViewBag.countMan
<br />

<i>Number of ppl on that signed to this site</i>
@ViewBag.countsign
<br />
